
#calendarPage #hilalKerahatCard{
  margin-top:1px!important;
}
#calendarPage .hilal-kerahat-inner{
  min-height:26px!important;
}
#calendarPage .hilal-prayer-head-card::after{
  content:"NAMAZ MÜMİNİN MİRACIDIR";
  grid-column:1 / -1;
  display:block;
  width:100%;
  margin-top:-1px;
  padding:0 4px 2px;
  text-align:center;
  color:#e8c46d;
  font-size:13px;
  line-hei