
/* ===== ANDROID WEBVIEW KAYDIRMA / DONMA DÜZELTMESİ ===== */
html{
  height:auto!important;
  min-height:100%!important;
  overflow-y:auto!important;
  overflow-x:hidden!important;
  overscroll-behavior-y:auto!important;
  touch-action:pan-x pan-y pinch-zoom!important;
}
body{
  height:auto!important;
  min-height:100dvh!important;
  max-height:none!important;
  overflow-