
#calendarPage .hilal-vakit-cikis-line{
  min-height:46px!important;
  gap:20px!important;
}
#calendarPage .hilal-vakit-cikis-label{
  font-size:19px!important;
  font-weight:950!important;
  line-height:1.15!important;
}
#calendarPage .hilal-vakit-cikis-value{
  font-size:30px!important;
  line-height:1!important;
  font-weight:1000!important;
  letter-spacing:.0