
#calendarPage .hilal-kerahat-title{
  font-size:24px!important;
  line-height:1.28!important;
  font-weight:950!important;
  letter-spacing:.01em!important;
  text-align:center!important;
}
#calendarPage .hilal-kerahat-inner{
  min-height:42px!important;
  padding:3px 4px!important;
}
@media(max-width:420px){
  #calendarPage .hilal-kerahat-title{
    font-size:22px